html, body, li {
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: light;
   padding: 4vh;
   display: grid;
   place-items: center;
   min-height: 40vh;
}

html {
    background-color: rgb(255, 210, 210);
}

body {
    background-color: white;
    width: 50vw;
    position: absolute;
   
}